@page
@model ProjectPRN221.Pages.IndexModel
@{
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<head>
	<link rel="stylesheet" href="~/assets/css/styles.css" />
	<link href="~/libs/bootstrap/css/bootstrap.css" rel="stylesheet" />
	<link href="~/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet"
		  href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
	<div class="container">
		<div class="row head-title">
			<div class="col-md-8">
				<h1>
					<span>FPT University Academic Portal</span>
				</h1>
			</div>
			<div class="col-md-4 mobile-app-ads">
				<div>
					<span><strong>FAP mobile app (myFAP) is ready at</strong></span>
				</div>
				<div style="display: flex; justify-content: space-between">
					<div>
						<a href="https://apps.apple.com/app/id1527723314">
							<img src="https://fap.fpt.edu.vn/images/app-store.png" style="width: 120px; height: 40px" alt="apple store" />
						</a>
					</div>
					<div>
						<a href="https://play.google.com/store/apps/details?id=com.fuct">
							<img src="https://fap.fpt.edu.vn/images/play-store.png" style="width: 120px; height: 40px" alt="google store" />
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<header class="header-bar">
					<div class="header-left">
						<span><a href="#">Home</a></span>&nbsp;|&nbsp;
					</div>
					<div class="header-right">
						<span><a href="#">username</a></span>&nbsp;|&nbsp;
						<span><a href="#">logout</a></span>&nbsp;|&nbsp;
						<span><a href="#">CAMPUS: FPTU-Hòa Lạc</a></span>
					</div>
				</header>
			</div>
		</div>
		<div class="row" style="margin-top: 1em">
			<div class="col-md-12">
				<div class="import-schdule" id="impSchedule">
					<a style="font-size: 1.2em;" href="#">
						<i class="fa fa-upload"></i>
						<span>Import Schedule</span>
					</a>
				</div>
				<div class="import-schdule" id="impSchedule">
					<a style="font-size: 1.2em;" href="#">
						<i class="fa fa-calendar"></i>
						<span>Activity</span>
					</a>
				</div>
			</div>
		</div>

		@* Modal *@
		<div class="upload-file-popup" id="uploadFilePopup">
			<div class="container mt-5">
				<div class="card">
					<div style="display: flex; justify-content: end">
						<button style="margin:0.9em;" type="button" class="btn btn-close btn" id="btnClose" />
					</div>
					<form>
						<h2 style="text-align: center;">Import schedule</h2>
						<div class="card-body">
							<div id="drop-area" class="border rounded d-flex justify-content-center align-items-center"
								 style="height: 200px; cursor: pointer;">
								<div class="text-center">
									<i class="bi bi-cloud-arrow-up-fill text-primary" style="font-size: 48px;"></i>
									<p class="mt-3">Drag and drop your image here or click to select a file.</p>
								</div>
							</div>
							<input type="file" id="fileElem" multiple accept="image/*" class="d-none">
						</div>
						<div style="display: flex; justify-content: end; padding:0 1em">
							<div>
								<input type="submit" value="Import" class="btn btn-primary" />
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script src="~/libs/bootstrap/js/bootstrap.bundle.js"></script>
	<script src="~/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/libs/bootstrap/js/bootstrap.esm.js"></script>
	<script src="~/libs/bootstrap/js/bootstrap.esm.min.js"></script>
	<script src="~/libs/bootstrap/js/bootstrap.js"></script>
	<script src="~/libs/bootstrap/js/bootstrap.min.js"></script>
	<script src="~/assets/js/scripts.js"></script>
</body>